body {
    margin: 0;
  
    
  }
  .nav{
    background-color: rgb(0, 0, 0);
    height: 80px;
  }
  #navbar{
    height: 60px;
    
    position: absolute;
    margin-right: 25px;
    top: 1000px;
    right: 10px;
    
    
    }
    #nav a {
        float: right;
        margin-right: 30px;
        display:block;
        color: #638D87;
        
        text-align: right;
        width: 100px;
        text-decoration: none;
        font-size: 25px;
        }
      
    .navbut:hover {
    
    color: #6e6e6e;
    }
    #nav:active {
    color: #8dc9c1;
    }
    .navbut{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: #ffffff;
        font-size: 20px;
        height: 35px;
        margin-left:40px;
        margin-right:40px;
        border-radius: 4px;
        border-style: none;
        background-color: #000000;
      }